<%- include("../includes/head.ejs") %>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
        <div class="container-fluid bg-warning-subtle pt-3 pb-3">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <i class="fa-solid fa-user p-2" style="font-size: 1.5rem;"></i>
                <span class="poppins-bold">Shreya_Sahu</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav ms-auto poppins-bold">
                    <a class="nav-link poppins-bold" aria-current="page" href="/home"><i class="fa-solid fa-house p-2"></i>Home</a>
                    <a class="nav-link poppins-bold" href="/projects"><i class="fa-solid fa-briefcase p-2"></i>Projects</a>
                    <a class="nav-link poppins-bold" href="/about"><i class="fa-solid fa-address-card p-2"></i>About</a>
                </div>
            </div>
        </div>
    </nav>
    <script src="/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

</body>
</html>
