<%- include("../includes/head.ejs") %>

<body>
    <main>
        <%- include("../includes/nav.ejs") %>

        <div class="image">
            <img src="https://cdn.dribbble.com/users/1428359/screenshots/4789906/girl_hi_800x600.gif" class="img-fluid mt-3" alt="...">
        </div>

        <div class="mt-5 mb-5" style="display: flex; justify-content: center;background-color:rgba(255, 166, 0, 0.1)">
            <div class="card p-3" style="width: 25rem; border: 2px solid black;">
                <div class="card-body mt-5 mb-5">
                    <h5 class="card-title">Hi, I'm Shreya Sahu</h5>
                    <p class="card-text">A software developer &hearts; pursuing Bachelors In Technology in CSE(IOT) from Lakshmi Narain College Of Technology, Bhopal. Highly passionate about software including fullstack websites, logical & programming skills using Java, exploring and building projects to polish my skills :) .</p>
                </div>
            </div>
        </div>

        <div class="container mt-5 mb-5">
            <div class="row justify-content-center">
                <div class="col-md-6 mb-4">
                    <div class="row justify-content-center">
                        <div class="col">
                            <div class="card mb-3 pro-card text-center" style="max-width: 350px;">
                                <div class="card-body">
                                    <h5 class="card-title">Skills</h5>
                                    <ul class="card-text poppins" style="list-style-type: none;">
                                        <li>Java (Core)</li>
                                        <li>HTML | CSS | Javascript</li>
                                        <li>Express.js | Node.js | MongoDB</li>
                                        <li>SQL (Basic)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="row justify-content-center">
                        <div class="col">
                            <div class="card mb-3 pro-card text-center" style="max-width: 350px;">
                                <div class="card-body">
                                    <h5 class="card-title">Soft Skills</h5>
                                    <ul class="card-text poppins" style="list-style-type: none;">
                                        <li>Communication</li>
                                        <li>Teamwork</li>
                                        <li>Problem-solving</li>
                                        <li>Adaptability</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <h3 style="text-align: center;" class="poppins-semibold">THANKS FOR VISITING :)</h3>
        </div>
    </main>

    <script src="/script.js"></script>
</body>

<%- include("../includes/footer.ejs") %>
