<%- include("../includes/head.ejs") %>

<body>
    <main>
        <%- include("../includes/nav.ejs") %>

        <div class="image">
            <img src="https://media.istockphoto.com/id/1306190794/vector/programmer-girl-working-on-the-laptop-programming-and-engineering-concept.jpg?s=612x612&w=0&k=20&c=SgBoKGaZRVOQRcKSR_ZRo46EQLlEEN_Jkq6NSd8d3H0=" class="img-fluid mt-3" alt="...">
        </div>

        <div class="mt-5 mb-5" style="display: flex; justify-content: center;background-color:#2222220d">
            <div class="card m-3 p-3 " style="width: 25rem; border: 2px solid black;">
                <div class="card-body mt-5 mb-5">
                    <h5 class="card-title  poppins-bold">Hi, I'm Shreya Sahu</h5>
                    <p class="card-text  poppins-semibold">A software developer &hearts; pursuing Bachelors In Technology in CSE(IOT) from Lakshmi Narain College Of Technology, Bhopal. Highly passionate about softwares including fullstack websites . Logical & programming skills using Java, exploring and building projects to polish my skills :) .</p>
                </div>
            </div>
        </div>

        <div class="container mt-3  mb-3 d-flex justify-content-center align-items-center">
            <div class="row">
                <div class="col-md-6 mb-4 ">
                    <div class="row justify-content-center">
                        <div class="col">
                            <div class="card mb-3 pro-card text-center" style="max-width: 350px;background-color:#22222208;height:18rem;">
                                <div class="card-body p-5">
                                    <h5 class="card-title poppins-bold">Skills</h5>
                                    <ul class="card-text poppins-semibold" style="list-style-type: none;">
                                        <li>Java (Core)</li>
                                        <li>HTML | CSS | Javascript</li>
                                        <li>Express.js | Node.js | MongoDB</li>
                                        <li>SQL (Basic)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="row justify-content-center">
                        <div class="col">
                            <div class="card mb-3 pro-card text-center" style="max-width: 350px; background-color:#22222208;height:18rem">
                                <div class="card-body p-5">
                                    <h5 class="card-title  poppins-bold">Soft Skills</h5>
                                    <ul class="card-text poppins-semibold" style="list-style-type: none;">
                                        <li>Communication</li>
                                        <li>Teamwork</li>
                                        <li>Problem-solving</li>
                                        <li>Adaptability</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
        <h3 style="text-align: center;" class="poppins-semibold mb-5">THANKS FOR VISITING :)</h3>

    </main>

    <script src="/script.js"></script>
</body>

<%- include("../includes/footer.ejs") %>
