<%- include("../includes/head.ejs") %>

<body>
    <main>
      <%- include("../includes/nav.ejs") %>
      <div style="margin: 0 auto;"> <h3>Click on Home to start :) </h3></div>
    </main>
    <%- include("../includes/footer.ejs") %>
      <script src="/script.js"></script>
</body>