<%- include("../includes/head.ejs") %>
<body>
    <%- include("../includes/nav.ejs") %>

    <div class="container">
        <main>
            <div class="row justify-content-center mt-5">
                <div class="col-md-8 col-lg-6">
                    <div class="card" style="height: 100%;">
                        <img src="https://media.istockphoto.com/id/1306190794/vector/programmer-girl-working-on-the-laptop-programming-and-engineering-concept.jpg?s=612x612&w=0&k=20&c=SgBoKGaZRVOQRcKSR_ZRo46EQLlEEN_Jkq6NSd8d3H0=" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title poppins-semibold">Hey, I'm Shreya</h5>
                            <p class="card-text poppins"><i>~ Software Developer :)</i></p>
                            <a href="https://drive.google.com/file/d/1X0OFwb8HBmKi7S-zxiT8Si1YmWdq6aDz/view?usp=sharing" class="btn btn-warning poppins-semibold">Resume</a>
                            <a href="/projects" class="btn btn-warning poppins">Projects</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <%- include("../includes/footer.ejs") %>

    <script src="/script.js"></script>
    
</body>
</html>
