<%- include("../includes/head.ejs") %>
<body>
    <%- include("../includes/nav.ejs") %>

    <div class="container">
        <main>
            <div class="row justify-content-center mt-2">
                <div class="col-md-8 col-lg-6">
                    <div class="card mb-3" style="height: 100%;">
                        <img src="https://cdn.dribbble.com/users/1428359/screenshots/4789906/girl_hi_800x600.gif" class="card-img-top" alt="...">
                        <div class="card-body mt-3">
                            <h5 class="card-title poppins-semibold">Hey, I'm Shreya</h5>
                            <p class="card-text poppins"><i>~ Software Developer :)</i></p>
                            <a href="https://drive.google.com/file/d/13bpaLQieLieqeV4ZgDx3_thtklAGWPB0/view?usp=sharing" target="_blank" class="btn btn-warning poppins-semibold">Resume</a>
                            <a href="/projects" class="btn btn-warning poppins">Projects</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <%- include("../includes/footer.ejs") %>

    <script src="/script.js"></script>
    
</body>
</html>
