<%- include("../includes/head.ejs") %>

  <body>
    <main>
      <%- include("../includes/nav.ejs") %>
        <div class="container mt-5 mb-5">
          <div class="row justify-content-center">
            <div class="col-md-8 mb-4">
              <div class="card pro-card">
                <img src="https://www.achieversit.com/uploads/course_image/web-dev-img.jpeg"
                  class="card-img-top pro-card-img" alt="web development">
                <div class="card-body mt-3 mb-3">
                  <h5 class="card-title poppins-bold">WanderLust</h5>
                  <p class="card-text poppins">A FullStack Website : Helps users to find their travel destination</p>
                  <ul class="card-text poppins-semibold" type="none">
                    <li>HTML5 | CSS3 | Javascript</li>
                    <li>Express.js | Node.js | MongoDB</li>
                  </ul>
                  <a href="#" class="btn btn-warning poppins">Visit</a>
                </div>
              </div>
            </div>
            <div class="col-md-8 mb-4">
              <div class="card pro-card">
                <img src="https://i0.wp.com/srituhobby.com/wp-content/uploads/2021/06/191.jpg?fit=1280%2C720&ssl=1"
                  class="card-img-top pro-card-img" alt="...">
                <div class="card-body mt-3 mb-3">
                  <h5 class="card-title poppins-bold">Weather monitoring system</h5>
                  <p class="card-text poppins">IOT Based Project : Helps in monitoring the weather conditions</p>
                  <ul class="card-text poppins-semibold" type="none">
                    <li>DHT-11 | BMP-120 | ESP8266</li>
                    <li>Visualisation using ThinkSpeak platform</li>
                  </ul>
                  <a href="#" class="btn btn-warning poppins">View</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-8 mb-4">
              <div class="card pro-card">
                <img
                  src="https://developers.redhat.com/sites/default/files/styles/share/public/ST-java1_2x.png?itok=LP1xR4KL"
                  class="card-img-top pro-card-img" alt="">
                <div class="card-body mt-3 mb-3">
                  <h5 class="card-title poppins-bold">Java based Process Scheduler</h5>
                  <p class="card-text poppins">Demonstrates Process Scheduling Alogrithms</p>
                  <ul class="card-text poppins-semibold" type="none">
                    <li>OOPs</li>
                    <li>Launch 4j</li>
                  </ul>
                  <a href="https://github.com/Shreya123Sahu/Java-Project-Process-Scheduler" target="_blank" class="btn btn-warning poppins">View</a>
                </div>
              </div>
            </div>
            <div class="col-md-8 mb-4">
              <div class="card pro-card">
                <img src="https://blog.greencloudvps.com/wp-content/uploads/2022/04/computer-networking.png"
                  class="card-img-top pro-card-img" alt="">
                <div class="card-body mt-3 mb-3">
                  <h5 class="card-title poppins-bold">Campus network visualisation</h5>
                  <p class="card-text poppins">Cisco Virtual Internship Project</p>
                  <ul class="card-text poppins-semibold" type="none">
                    <li>Packet tracer</li>
                    <li>Packet sniffer</li>
                  </ul>
                  <a href="https://github.com/Shreya123Sahu/Campus-Network-Traffic-Visualization-Project" target="_blank" class="btn btn-warning poppins">View</a>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-8 mb-4">
                <div class="card pro-card">
                  <img
                    src="https://store-images.microsoft.com/image/apps.39779.9007199266244944.8d6e8dd3-539b-4a02-bc83-1655cc7c19db.429d3005-0b1d-4600-803e-792e95ec381a"
                    class="card-img-top pro-card-img" alt="">
                  <div class="card-body mt-3 mb-3">
                    <h5 class="card-title poppins-bold">Dictionary App</h5>
                    <p class="card-text poppins">Helps in finding the meaning for desired words . </p>
                    <ul class="card-text poppins-semibold" type="none">
                      <li>HTML5 | CSS3 |Javascript | API</li>
                      <li>Github -> Deployment</li>
                    </ul>
                    <a href="https://github.com/Shreya123Sahu/Dictionary-App" target="_blank" class="btn btn-warning poppins">View</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
    </main>
    <%- include("../includes/footer.ejs") %>
      <script src="/script.js"></script>
  </body>